<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thousandsunny.module_mine">

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true">
        <activity android:name="com.thousandsunny.module_mine.MineActivity">
        </activity>
        <activity android:name="com.thousandsunny.module_mine.MineProfileActivity">
        </activity>

    </application>

</manifest>