<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thousandsunny.module_login">

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true">
        <activity android:name="com.thousandsunny.module_login.LoginActivity">
        </activity>
    </application>

</manifest>